//set parent element in home component to relative
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden;

  // props below will contain bg-video inside of container while maintaining aspect ratio
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}